@font-face { font-family: 'Helvetica'; src: url("../css/fonts/webfont/Helvetica.eot?#iefix") format("embedded-opentype"), url("../css/fonts/webfont/Helvetica.otf") format("opentype"), url("../css/fonts/webfont/Helvetica.woff") format("woff"), url("../css/fonts/webfont/Helvetica.ttf") format("truetype"), url("../css/fonts/webfont/Helvetica.svg#Helvetica") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Helvetica-Light'; src: url("../css/fonts/webfont/Helvetica-Light.eot?#iefix") format("embedded-opentype"), url("../css/fonts/webfont/Helvetica-Light.otf") format("opentype"), url("../css/fonts/webfont/Helvetica-Light.woff") format("woff"), url("../css/fonts/webfont/Helvetica-Light.ttf") format("truetype"), url("../css/fonts/webfont/Helvetica-Light.svg#Helvetica-Light") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Graphik Web'; src: url("../css/fonts/webfont/Graphik-Regular-Web.eot?#iefix") format("embedded-opentype"), url("../css/fonts/webfont/Graphik-Regular-Web.ttf") format("ttf"), url("../css/fonts/webfont/Graphik-Regular-Web.woff") format("woff"), url("../css/fonts/webfont/Graphik-Regular-Web.ttf") format("truetype"), url("../css/fonts/webfont/Graphik-Regular-Web.svg#Graphik-Regular-Web") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Graphik Web'; src: url("../css/fonts/webfont/graphik-light-webfont.eot?#iefix") format("embedded-opentype"), url("../css/fonts/webfont/graphik-light-webfont.ttf") format("ttf"), url("../css/fonts/webfont/graphik-light-webfont.woff") format("woff"), url("../css/fonts/webfont/graphik-light-webfont.ttf") format("truetype"), url("../css/fonts/webfont/graphik-light-webfont.svg#graphik-light-webfont") format("svg"); font-weight: 300; font-style: normal; }
.border { width: 75px; height: 4px; border: 1px solid transparent !important; }

.custom-btn, .video-btn { font-family: "Graphik Web", sans-serif; font-size: 22px; padding: 10px 20px 10px 20px; text-decoration: none; display: inline-block; transition: all ease 500ms; }

.after { position: absolute; content: " "; display: block; background: no-repeat center center transparent; background-size: cover; }

.padding-tb-100 { padding: 100px 0; }

.padding-tb-50 { padding: 50px 0; }

.padding-tb-15 { padding: 15px 0 !important; }

.padding-left-0 { padding-left: 0; }

.title-h2 { text-align: center; }
.title-h2 h2 { margin-bottom: 15px; }

.padding-btom { padding: 50px 0; }

.padding-top-20 { padding-top: 20px; }

.padding-bottom-50 { padding-bottom: 50px; }

.form-control { font-weight: 300; }

.video-btn { min-width: 233px; width: auto; height: auto; border-radius: 6px; padding: 17px 25px 17px 27px; text-align: left; cursor: pointer; }
.video-btn .fa { display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: 30px; font-weight: bold; float: right; margin-top: -5px; margin-left: 20px; }

.common-title, .about-us .about-title, .achivement .achivement-title, .portfolio .portfolio-title, .clients-say .clients-say-title, .team .Team-title, .post .Post-title { text-align: center; text-transform: uppercase; max-width: 660px; margin: 0 auto; padding-bottom: 30px; }
.common-title .app-border, .about-us .about-title .app-border, .achivement .achivement-title .app-border, .portfolio .portfolio-title .app-border, .clients-say .clients-say-title .app-border, .team .Team-title .app-border, .post .Post-title .app-border { border: 2px solid #699D31; width: 99px; margin: 0 auto; }
.common-title span, .about-us .about-title span, .achivement .achivement-title span, .portfolio .portfolio-title span, .clients-say .clients-say-title span, .team .Team-title span, .post .Post-title span { color: #699D31; text-transform: uppercase; }

.common-border { border: 1px solid #699D31; padding: 0 10px; width: 11%; }

/* --------------------------------------------------------------------------
	>Base
-------------------------------------------------------------------------- */
html { overflow-y: scroll; }

body { height: 100%; position: relative; background: #FFFFFF; font-family: "Graphik Web", sans-serif; font-size: 14px; line-height: 1.3; color: #000; }

a { cursor: pointer; text-decoration: none; }

a:hover { text-decoration: underline; }

img { border: 0; vertical-align: middle; }

ul, ol { list-style-position: inside; }

ul li { list-style: none; }

h1 { font-family: "Graphik Web", sans-serif; font-weight: 300; }

h2 { font-family: "Graphik Web", sans-serif; font-size: 36px; font-weight: 400; }

h3 { font-family: "Graphik Web", sans-serif; font-size: 24px; font-weight: 400; }

h4 { font-family: "Graphik Web", sans-serif; font-size: 18px; font-weight: 400; }

h5 { font-family: "Graphik Web", sans-serif; font-size: 18px; font-weight: 400; }

/* ========================================================================== > Header ========================================================================== */
.header-top { min-height: 50px; background-color: #34393D; }
.header-top .message { float: left; padding: 5px 10px; }
.header-top .message ul { text-decoration: none; }
.header-top .message ul li { padding: 8px 18px; margin: 4px 10px; }
.header-top .message ul li .custom-top { padding: 1px 14px; color: #699D31; background-color: #34393D; }
.header-top .message ul li a { color: #FFFFFF; cursor: pointer; }
.header-top .social-icon { float: right; padding: 5px 10px; }
.header-top .social-icon ul { text-decoration: none; }
.header-top .social-icon ul li { padding: 8px 8px; }
.header-top .social-icon ul li a { color: #FFFFFF; cursor: pointer; }

.navbar-default { padding: 10px 0px; }
.navbar-default .custom-menu ul { text-decoration: none; }
.navbar-default .custom-menu ul li { font-size: 20px; font-weight: normal; }
.navbar-default .custom-menu ul li a { border-left: solid 1px whitesmoke; }
.navbar-default .custom-brand { padding: 2px 20px; }

.navbar-default { border: none; margin: 0; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover { border-bottom: solid 2px #699D31; background-color: #FFFFFF; }

/*slider area start */
#slider_area { overflow: hidden; content: " "; position: relative; }

.slide-custom { padding-right: 0; padding-left: 0; margin-right: auto; margin-left: auto; }

.carousel-indicators { bottom: 10px; left: 102%; z-index: 15; width: 60%; padding-left: 0; margin-left: -30%; text-align: center; list-style: none; }

.custom-caption { top: 275px; bottom: 0; }

.custom-caption { margin: 0 220px; }

.custom-caption h2 { font-size: 52px; font-family: 'Open Sans', sans-serif; font-weight: 400; line-height: 1.2; word-spacing: 10px; text-transform: uppercase; }

.custom-caption p { font-size: 18px; font-family: 'Open Sans', sans-serif; font-weight: 400; line-height: 1.2; word-spacing: 5px; }

.carousel-control.left { background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.0001) 100%); background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0, rgba(0, 0, 0, 0.0001) 100%); background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(0, 0, 0, 0.0001))); background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(0, 0, 0, 0.0001) 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1); background-repeat: repeat-x; }

.carousel-control.right { background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.0001) 100%); background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0, rgba(0, 0, 0, 0.0001) 100%); background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(0, 0, 0, 0.0001))); background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(0, 0, 0, 0.0001) 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1); background-repeat: repeat-x; }

.custom-carousel-inner > .item > a > img, .custom-carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img { background-size: cover; }

.carousel-control span { position: absolute; top: 50%; z-index: 5; display: inline-block; margin-top: -10px; }

/* ========================================================================== > about-us ========================================================================== */
.about-us { background-color: #FFFFFF; transform: skew(0deg, 3deg) translateY(-67px); padding: 30px 0; min-height: 400px; }
.about-us .container { transform: skew(0deg, -3deg) translateY(67px); }
.about-us h5 { color: #7D7D7D; }
.about-us .about-title { padding-bottom: 40px; }
.about-us .media i { border: 4px dashed #699D31; margin: 0 auto; border-radius: 76px; padding: 20px 20px; color: #699D31; }
.about-us .media-body { width: 10000px; padding: 10px 31px; }

/* ========================================================================== > achivement ========================================================================== */
.achivement { min-height: 700px; padding: 131px 10px; background-color: #B4B1BA; transform: skew(0deg, -3deg) translateY(-67px); margin-top: 117px; /*========================================================== counter section style
============================================================*/ }
.achivement .container { transform: skew(0deg, 3deg) translateY(67px); }
.achivement .container .counter { transform: skew(0deg, -3deg) translateY(-67px); }
.achivement .achivement-title { color: #FFFFFF; }
.achivement .p-y-2 { padding-top: 28px; padding-bottom: 28px; }
.achivement .p-y-3 { padding-top: 45px; padding-bottom: 45px; }
.achivement .m-b-1 { margin-bottom: 18px; color: #699D31; }
.achivement .m-t-1 { margin-top: 18px; }
.achivement .m-t-1 p { text-transform: uppercase; }
.achivement .main_counter_area { background: url(https://images.pexels.com/photos/196288/pexels-photo-196288.jpeg?w=940&h=650&auto=compress&cs=tinysrgb) no-repeat top center; background-size: cover; overflow: hidden; }
.achivement .main_counter_area .main_counter_content .single_counter { color: #fff; }
.achivement .statistic-counter { font-weight: bold; font-size: 40px; }
.achivement .main_counter_area .main_counter_content .single_counter i { font-size: 36px; }

/* ========================================================================== > call-to-visitor ========================================================================== */
.call-to-visitor { background-color: #699D31; padding: 30px 0; min-height: 400px; transform: skew(0deg, 3deg) translateY(-166px); }
.call-to-visitor .container { transform: skew(0deg, -3deg) translateY(10px); }
.call-to-visitor .visitor { padding: 5px 2px; color: #FFFFFF; text-align: center; }
.call-to-visitor .visitor h2 { text-transform: uppercase; }
.call-to-visitor .visitor h3 { text-transform: lowercase; }
.call-to-visitor .visitor .custom-btn, .call-to-visitor .visitor .video-btn { border-radius: 40px; border: 1px solid #FFFFFF; background-color: #699D31; }

/* ========================================================================== > portfolio ========================================================================== */
.portfolio { transform: skew(0deg, -1deg) translateY(-299px); padding: 50px 0px; background-color: #FFFFFF; text-align: center; /* ---- button ---- */ /* ---- isotope ---- */ }
.portfolio .portfolio-title { font-size: 50px; font-weight: bold; }
.portfolio * { box-sizing: border-box; }
.portfolio body { font-family: sans-serif; }
.portfolio .button { display: inline-block; padding: 0.5em 1.0em; background: #34393D; border: none; color: #FFFFFF; font-family: sans-serif; font-size: 16px; cursor: pointer; }
.portfolio .button:hover { background-color: #699D31; color: #222; }
.portfolio .button:active, .portfolio .button.is-checked { background-color: #699D31; }
.portfolio .button-group { margin-bottom: 20px; }
.portfolio .button-group:after { content: ''; display: block; clear: both; }
.portfolio .button-group .button { border-radius: 0; margin-left: 0; margin-right: 1px; }
.portfolio .grid:after { content: ''; display: block; clear: both; }
.portfolio .element-item { position: relative; color: #262524; width: 33%; border: 5px solid #FFFFFF; overflow: hidden; }
.portfolio .element-item .isotope-overlay { position: absolute; background: rgba(0, 0, 0, 0.5); width: 100%; height: 100%; top: -100%; color: #FFFFFF; transition: .6s; padding: 69px 10px; }
.portfolio .element-item .isotope-overlay h2 { text-transform: uppercase; font-size: 30px; }
.portfolio .element-item .isotope-overlay p { font-size: 18px; }
.portfolio .element-item .isotope-overlay .custom-btn-overlay { border-radius: 40px; border: 1px solid #FFFFFF; background-color: #34393D; }
.portfolio .element-item img { width: 100%; height: auto; }
.portfolio .element-item:hover .isotope-overlay { top: 0; }

/* ========================================================================== > clients-say ========================================================================== */
.clients-say { transform: skew(0deg, 3deg) translateY(-100px); min-height: 500px; background-color: #E8E6E7; }
.clients-say .clients-say-title { font-size: 50px; font-weight: bold; }
.clients-say .container { transform: skew(0deg, -3deg) translateY(80px); }
.clients-say .qoute { width: 50%; margin: 0 auto; }
.clients-say .qoute span { float: right; font-weight: bold; font-size: medium; }

/* ========================================================================== > team ========================================================================== */
.team { min-height: 500px; background-color: #FFFFFF; padding: 50px 0px; }
.team .Team-title { font-size: 50px; font-weight: bold; }
.team .single-team img { width: 100%; height: auto; }
.team .single-team h3 { font-size: large; font-weight: bold; color: #34393D; }
.team .single-team p { font-size: medium; font-weight: normal; color: #34393D; }
.team .custom-btn-tem { background-color: #699D31; border-radius: 40px; border: 1px solid #FFFFFF; text-transform: uppercase; }

/* ========================================================================== > post ========================================================================== */
.post { transform: skew(0deg, 3deg) translateY(30px); background-color: #D2D6E1; padding: 70px 0; min-height: 700px; }
.post .Post-title { font-size: 50px; font-weight: bold; }
.post .container { transform: skew(0deg, -3deg) translateY(-30px); }
.post .single-team img { width: 100%; padding: 8px 2px; height: auto; }
.post .single-team h3 { font-size: large; font-weight: bold; color: #34393D; }
.post .single-team p { font-size: medium; font-weight: normal; color: #34393D; }
.post .single-team time { color: #757575; font-weight: bold; text-transform: uppercase; }
.post .custom-btn-tem { background-color: #699D31; border-radius: 40px; border: 1px solid #FFFFFF; text-transform: uppercase; }

/* ========================================================================== > footer ========================================================================== */
.footer { transform: skew(0deg, 0deg) translateY(-25px); padding: 40px 0px; background-color: #34393F; min-height: 400px; color: #FFFFFF; }
.footer .footer-top h3 { text-transform: uppercase; }
.footer .footer-top p { text-transform: lowercase; }
.footer .footer-top i { color: #699D31; text-align: center; }
.footer .footer-top ul { padding: 0; margin: 0; }
.footer .footer-top .single-footer i { padding-bottom: 30px; }
.footer .footer-border { border: 1px solid #777; width: 83%; padding: 0px 31px; margin: 17px 0; }
.footer .footer-buttom { text-align: center; }
.footer .footer-buttom .social-icon-footer { padding: 5px 10px; }
.footer .footer-buttom .social-icon-footer ul { text-decoration: none; margin: 0; }
.footer .footer-buttom .social-icon-footer ul li { padding: 8px 8px; }
.footer .footer-buttom .social-icon-footer ul li a { color: #FFFFFF; cursor: pointer; }
.footer .footer-buttom .social-icon-footer ul li a:hover { color: #699D31; }
.footer .footer-buttom img { width: 10%; padding: 10px 0; height: auto; }

/* ========================================================================== > Responsive ========================================================================== */
@media screen and (min-width: 992px) { .custom-caption { margin: 0 0; top: 272px; } }
/* ==========================================================================
	#Media - Tablets in landscape
========================================================================== */
@media (max-width: 1024px) { .custom-caption { margin: 0 0; top: 124px; }
  .custom-caption h2 { font-size: 30px; }
  .portfolio .element-item .isotope-overlay p { font-size: 9px; } }
/* ==========================================================================
	#Phones
========================================================================== */
@media screen and (max-width: 767px) { .clients-say .qoute { width: 82%; margin: 0 auto; }
  .clients-say h2 { font-size: 20px; }
  .about-us .about-title h2 { font-size: 20px; }
  .achivement .achivement-title h2 { font-size: 20px; }
  .achivement .achivement-title p { font-size: 12px; }
  .call-to-visitor .visitor h2 { font-size: 20px; }
  .call-to-visitor .visitor h3 { font-size: 12px; }
  .call-to-visitor .visitor .custom-btn, .call-to-visitor .visitor .video-btn { font-size: 14px; }
  .team .Team-title h2 { font-size: 20px; }
  .team .single-team h3 { font-size: 16px; text-align: center; }
  .team .single-team p { text-align: center; }
  .team .custom-btn-tem { display: none; }
  .post .Post-title h2 { font-size: 20px; }
  .post .custom-btn-tem { display: none; }
  .footer .footer-top h3 { text-transform: uppercase; text-align: center; }
  .footer .footer-top p { text-transform: lowercase; text-align: center; }
  .footer .footer-top i { color: #699D31; text-align: center; }
  .footer .footer-top ul { padding: 0; margin: 0; }
  .footer .footer-top .single-footer { text-align: center; }
  .footer .footer-top .single-footer i { font-size: 18px; }
  .footer .footer-border { border: 1px solid #777; width: 83%; padding: 0px 25px; margin: 14px 0; }
  .footer .footer-buttom { text-align: center; }
  .footer .footer-buttom .social-icon-footer { padding: 2px 6px; }
  .footer .footer-buttom .social-icon-footer ul { text-decoration: none; margin: 0; }
  .footer .footer-buttom .social-icon-footer ul li { padding: 4px 4px; }
  .footer .footer-buttom .social-icon-footer ul li a { color: #FFFFFF; cursor: pointer; }
  .footer .footer-buttom .social-icon-footer ul li a:hover { color: #699D31; }
  .footer .footer-buttom img { width: 10%; padding: 10px 0; height: auto; }
  .custom-caption { margin: 0 0; top: 68px; }
  .custom-caption h2 { font-size: 20px; }
  .custom-caption p { font-size: 16px; }
  .portfolio .element-item .isotope-overlay { position: absolute; background: rgba(0, 0, 0, 0.5); color: #FFFFFF; transition: .6s; padding: 0px 1px; }
  .portfolio .element-item .isotope-overlay p { font-size: 10px; }
  .portfolio .element-item .isotope-overlay h2 { font-size: 20px; } }
@media screen and (max-width: 480px) { .custom-caption { margin: 0 0; top: 21px; }
  .custom-caption h2 { font-size: 14px; }
  .custom-caption p { font-size: 12px; }
  .portfolio .element-item .isotope-overlay { position: absolute; margin-top: -82px; }
  .portfolio .element-item .isotope-overlay h2 { font-size: 15px; }
  .portfolio .element-item .isotope-overlay p { font-size: 8px; }
  .portfolio-title h2 { font-size: 20px; }
  .filters { width: 100%; height: auto; } }
@media screen and (max-width: 375px) { .clients-say .qoute { width: 82%; margin: 0 auto; }
  .clients-say h2 { font-size: 16px; }
  .about-us .about-title h2 { font-size: 20px; }
  .achivement .achivement-title h2 { font-size: 20px; }
  .achivement .achivement-title p { font-size: 12px; }
  .call-to-visitor .visitor h2 { font-size: 20px; }
  .call-to-visitor .visitor h3 { font-size: 12px; }
  .call-to-visitor .visitor .custom-btn, .call-to-visitor .visitor .video-btn { font-size: 14px; }
  .team .Team-title h2 { font-size: 20px; }
  .team .single-team h3 { font-size: 16px; text-align: center; }
  .team .single-team p { text-align: center; }
  .team .custom-btn-tem { display: none; }
  .post .Post-title h2 { font-size: 20px; }
  .post .custom-btn-tem { display: none; }
  .footer .footer-top h3 { text-transform: uppercase; text-align: center; }
  .footer .footer-top p { text-transform: lowercase; text-align: center; }
  .footer .footer-top i { color: #699D31; text-align: center; }
  .footer .footer-top ul { padding: 0; margin: 0; }
  .footer .footer-top .single-footer { text-align: center; }
  .footer .footer-top .single-footer i { font-size: 18px; }
  .footer .footer-border { border: 1px solid #777; width: 83%; padding: 0px 25px; margin: 14px 0; }
  .footer .footer-buttom { text-align: center; }
  .footer .footer-buttom .social-icon-footer { padding: 2px 6px; }
  .footer .footer-buttom .social-icon-footer ul { text-decoration: none; margin: 0; }
  .footer .footer-buttom .social-icon-footer ul li { padding: 4px 4px; }
  .footer .footer-buttom .social-icon-footer ul li a { color: #FFFFFF; cursor: pointer; }
  .footer .footer-buttom .social-icon-footer ul li a:hover { color: #699D31; }
  .footer .footer-buttom img { width: 10%; padding: 10px 0; height: auto; } }

/*# sourceMappingURL=styles.css.map */
